<div class="content">

    <div class="bg-white p-3 mb-2">

        <h4 class="text-black font-bold mb-3">Add Expense</h4>

        <div style="color: rgb(97 97 97); margin-right: 0.5rem">
            <span>Expense</span>
            <span>></span>
            <span>Add Expense</span>
        </div>
    </div>

    <!-- Start Content-->
    <div class="container-fluid card p-4">

        <form action="" method="post">

            <div class="row">

                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                    <label for="date" class="form-label">Date</label>
                    <input class="form-control custom-date-input" id="date" type="date" name="date" placeholder="MM/DD/YYYY" pattern="\d{2}/\d{2}/\d{4}">
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                    <label for="expense_type" class="form-label">Expense Type</label>
                    <select class="form-control" data-toggle="select2" data-width="100%" name="expense_type" style="background: #FCFCFC!important;">
                        <!-- <option>Direct Expense</option> -->
                        <optgroup label="">
                            <option value="direct_expense">Direct Expense</option>
                            <option value="draft_enpense">Draft Expense</option>
                        </optgroup>

                    </select>
                </div>

                <style>
                    .select2-container--default .select2-selection--single {
                        background: #FCFCFC !important;
                        color: #444 !important;
                    }

                    .form-control {
                        background: #FCFCFC !important;
                        color: #444 !important;
                    }
                </style>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4" style="background: #FCFCFC!important;">
                    <label for="category" class="form-label">Category</label>
                    <select class="form-control" data-toggle="select2" data-width="100%" name="category">
                        <!-- <option>Electrics</option> -->
                        <optgroup label="">
                            <option value="united_state">Electrics</option>
                            <option value="united_state">Shoe</option>
                            <option value="canada">Clothes</option>
                            <option value="bag">Bag</option>
                            <option value="maxico">Computer</option>
                            <option value="france">Laptop</option>
                            <option value="germany">Germany</option>
                        </optgroup>
                    </select>
                </div>

                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4">
                    <label for="voucher_no" class="form-label">Voucher No</label>
                    <input type="text" id="voucher_no" class="form-control" placeholder="748" name="voucher_no" style="background: #FCFCFC!important;">
                </div>


                <!-- <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-5">
            <label class="form-label">Amount</label>
            <input data-toggle="touchspin" type="text" name="amount" placeholder="4.470" style="background: #FCFCFC!important;">
        </div> -->

                <div class="col-12 col-md-4 col-lg-4 col-xl-4 mb-4" style="margin-bottom: 10px;">
                    <div class="form-group " style="background-color: white; border-radius: 5px; padding:10px">
                        <label class="">Amount</label>
                        <input type="number" class="form-control" placeholder="100" name="amount" onkeypress="return event.keyCode != 13;">
                    </div>
                </div>


                <div class="col-12 col-md-12 col-lg-12 col-xl-12 mb-4">
                    <label class="" for="purchase_notes">Purchase Notes:</label>
                    <textarea id="textarea" class="form-control" maxlength="225" rows="7" cols="" placeholder="TYPE Text...." name="purchase_notes" style="background: #FCFCFC;"></textarea>
                </div>

                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <button type="submit" class="btn btn-lg btn-primary">Submit</button>
                </div>

            </div>

        </form>


    </div>
    <!-- container-fluid -->

</div>